.main-block-headline {
  h1 {
    margin-bottom: 20px;
  }
  display: flex;
  flex-flow: column wrap;
  margin-right: auto;
  justify-content: center;
  align-items: flex-start;
  .captions {
    width: 75%;
    padding-inline-start: 0;
    margin-bottom: 1.75em;
    li {
      display: inline-block;
      font-size: 14px;
      margin-right: 15px;
      color: $font-color-level3;
    }
  }
  h6 {
    margin-bottom: 20px;
  }
}

@import 'main-block-headline-buttons';
@import 'main-block-headline-clients';