.clients {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  h6 {
    @include buttons-text;
    font-weight: 700;
    color: $font-color-level3;
    margin-bottom: 1em;
  }
  .clients-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .client-logo {
      &:not(:first-child) {
        margin-left: 2em;
      }
      img {
        width: 100%;
      }
      filter: grayscale(0) brightness(50) brightness(0.65);
      max-width: 6rem;
    }
  }
}