// Colors
 
$primary-color: #fa9531;
$secondary-color: #ffbd39;
$third-color: #feefe0;
$heading-highlight-color: #ffb928;
$package-color-1: #3cc33e;
$package-color-2: #1089f8;
$package-color-3: #fa9531;
$package-color-4: #b0b4bb;
$new-item-color: #ff0;
$extension-item-color: #050505;
$successful-color: #07b65d;
$error-color: #f72f49;
$font-color-normal: #65676b;
$font-color-level3: #8c9097;
$font-color-medium: #b0b4bb;
$font-color-dark: #050505;
$font-color-light: #fff;
$content-color-normal: #65676b;
$content-color-dark: #050505;
$content-color-light: #fff;
$button-full-font-color: #fff;
$button-full-background-color-1: #fa9531;
$button-full-background-color-2: #ffbd39;
$button-outline-color: #e4e5e9;
$border-color-normal: #65676b;
$border-color-gray: #e4e5e9;
$border-color-gray-icon: #bec2c9;
$border-color-inputs: #ced0d4;
$border-color-dark: #050505;
$border-color-light: #fff;
$main-background: #fff;
$invert-main-background: #050505;
$secondary-background: #f5f5f7;
$light-background: #f5f5f7;
$header-background: #fff;
$main-nav-font-color: #050505;
$main-nav-font-color-highlight: #fa9531;
$main-nav-underline: #fa9531;
$main-nav-submenu-background: #fff;
$main-nav-submenu-font-color: #050505;
$main-nav-submenu-font-color-hover: #050505;
$cookie-background: #fff3e0;
$newsletter-background: #f5f5f7;
$tabs-background: #f5f5f7;
$orange-background: #feefe0;
$violet-background: #f3e6ff;
$footer-column-border-color: #e4e5e9;
$footer-middle-background-color-1: #fa9531;
$footer-middle-background-color-2: #ffbd39;
$box-shadow: 0 0 16px 0 rgba(0,0,0,0.08);
$box-shadow-big: 0 .25em 4em 0 rgba(0,0,0,0.07);
$background: linear-gradient(90deg,#ffbd39 0,#fa9531 100%);
$background-invert: linear-gradient(90deg,#fa9531 0,#ffbd39 100%);