@mixin buttons-text {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.33;
}
@mixin container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 50px 120px;
}